{% load static %}

<button data-scroll-top-target="scrollToTopBtn" data-action="click->scroll-top#scrollToTop"
    class="flex h-14 w-14 sm:w-16 sm:h-16 items-center justify-center opacity-0 shadow-md rounded-full bg-blue-800 fixed bottom-6 right-8 sm:bottom-10 sm:right-32 z-10 translate-y-32 transition-all duration-300">
    <i class="w-6 h-6 sm:w-8 sm:h-8 bg-white"
        style="mask-image: url({% static 'icons/arrow_top.svg' %}); -webkit-mask-image:url({% static 'icons/arrow_top.svg' %}); -webkit-mask-size: cover; mask-size: cover;">
    </i>
</button>