{% extends 'base.html' %}
{% load static %}


{% block content %}

<form id="project_form" method="POST" action="{% url 'projects:create_project' %}" class="flex flex-col gap-6" data-turbo="false">
    {% csrf_token %}
    {% for field in form %}
        <div class="flex flex-row items-center align-middle w-full gap-8">
            <div class="text-lg text-amber-300 font-medium min-w-56 w-fit align-middle">
                {{ field.label_tag }}
            </div>
            <div class="flex-grow">
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="mt-2 text-sm font-bold text-red-500">
                                {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <button type="submit" class="px-3 py-3 min-w-32 items-center text-center text-amber-300 border-2 border-amber-300 hover:bg-amber-300 hover:text-zinc-800 rounded-md font-medium">
        Create Project
    </button>
</form>

{% endblock %}