{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="my-10 w-full flex flex-col gap-7">
    <div class="flex flex-row items-center justify-between">
        <div class="text-2xl text-amber-300 font-bold">Projects</div>
        <a href="{% url 'projects:create_project' %}" class="px-3 py-3 w-fit items-center text-center text-amber-300 border-2 border-amber-300  hover:bg-amber-300 hover:text-zinc-800 rounded-md font-medium">
            Create New Project
        </a>
    </div>
    <div class="w-full flex flex-col divide-y-2 divide-amber-300">
    {% for project in projects %}
        <div class="w-full flex flex-row align-middle py-3 font-medium text-lg text-amber-300 justify-between">
            {{ project.name }}
            <div class="flex gap-x-2">
                <a href="{% url 'project' project.id %}" class="px-3 min-w-32 items-center text-center text-amber-300  hover:bg-amber-300 hover:text-zinc-800 rounded-md font-medium">
                    Fields settings
                </a>
                <a href="{% url 'projects:update_project' project.id %}" class="px-3 min-w-32 items-center text-center text-amber-300  hover:bg-amber-300 hover:text-zinc-800 rounded-md font-medium">
                    Project settings
                </a>
                <a href="{% url 'projects:project_overview' project.id %}" class="px-3 min-w-32 items-center text-center text-amber-300  hover:bg-amber-300 hover:text-zinc-800 rounded-md font-medium">
                    Project overview
                </a>
                <a href="{% url 'scraped_data:show_data' project.id %}" class="px-3 min-w-32 items-center text-center text-amber-300 hover:bg-amber-300 hover:text-zinc-800 rounded-md font-medium">
                    Scraped data
                </a>
            </div>
        </div>
    {% empty %}
        <div class="px-3 min-w-32 items-center text-center text-amber-300">
            No projects yet
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}