{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Webscraper{% endblock %}</title>
    <link rel='stylesheet' type="text/css" media="screen" href="{% static 'css/styles.css' %}">
    <link rel='stylesheet' type="text/css" media="screen" href="{% static 'css/tailwind.css' %}">
    <link rel="shortcut icon" href="{% static '/icons/spider.svg' %}" type="image/x-icon" />
    <script async defer src="{% static '/js/turbo-7.1.0.js' %}"></script>
    <script async defer src="{% static '/js/stimulus/bundle.js' %}"></script>

</head>
<body class="bg-zinc-800">
    <div id="modal-root" ></div>
    {% include 'components/menu.html' %}
    <div class="mx-auto w-[1200px] min-h-screen relativ" data-controller="scroll-top" data-action="scroll@window->scroll-top#handleScroll">
        {% include 'common/scroll_to_top_button.html' %}

        {% block content %}
        {% endblock %}
    </div>
    <div id="toasts-container" class="fixed bottom-0 w-full sm:w-8/12 md:w-6/12 lg:w-5/12 xl:w-4/12 2xl:w-3/12 my-4 px-2 sm:px-4 h-auto z-50" style="right: 0%">
        
    </div>
</body>
</html>