<div 
    class="fixed inset-0 z-50 bg-black bg-opacity-50 flex items-center justify-center p-4" 
    data-controller="modal"
    data-action="click->modal#closeModal"
>
    <div class="bg-zinc-800 p-6 rounded-lg max-w-md w-full" onclick="event.stopPropagation()">
        <form method="POST" action="{{action}}" class="space-y-4">
            {% csrf_token %}
            <div class="text-xl">{{question}}</div>
            <div class="flex justify-end gap-4">
            <button type="button" 
                    class="px-4 py-2 border border-amber-300 text-amber-300 rounded hover:bg-amber-100"
                    data-action="click->modal#closeModal">
                Cancel
            </button>
            <button type="submit" 
                    class="px-4 py-2 bg-amber-300 text-zinc-800 rounded hover:bg-amber-400" 
            >
                {{confirm_text}}
            </button>
            </div>
        </form>
    </div>
</div>